
melegames.log
.project
.classpath
target/*
.externalToolBuilders/Maven_Ant_Builder.launch
target/classes/com/deathfrog/npc/NpcContext.class
*.class
*.class
target/surefire-reports/TEST-com.deathfrog.npc.TestPercentileList.xml
target/surefire-reports/TEST-com.deathfrog.npc.TestNPC.xml
target/surefire-reports/TEST-com.deathfrog.npc.TestNaming.xml
target/surefire-reports/com.deathfrog.npc.TestPercentileList.txt
target/surefire-reports/com.deathfrog.npc.TestNPC.txt
target/surefire-reports/com.deathfrog.npc.TestNaming.txt
*.jar
target/classes/com/deathfrog/utils/definitions.xml
*.class
*.class
